<div class="text-center">
    <h5>Запуск по волкеру</h5>
</div>
<div class="modal-body">
    Здесь должна быть информация для воронки Запуск по Волкеру
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>