{% extends "@HBAdmin/layout.html.twig" %}

{% block body %}
    <style>
        .card-body {
            font-size: 16px;
        }
    </style>

    <div class="card">
        <div class="card-header">
            Drip Ecommerce
        </div>
        <div class="card-body">


            Доступ к вашему эккаунту CRM с готовыми и настроенными воронками продаж, вы получите сразу после публикации вашего первого продукта, если:
            <ul>
                <li>вы находитесь на тарифных планах Профессиональный, Премиум и VIP</li>
                <li>ваши условия подписки на тарифных планах Индивидуальный или Вебинарный включают доступ к CRM</li>
            </ul>

            <br>

            Если у вас еще нет доступа к вашему эккаунту CRM, вы можете:
            <ul>
                <li>перейти в обучающий курс по нашей платформе</li>
                <li>перейти в демонстрационный эккаунт CRM используя следующие данные для входа: <br><b>логин:</b> heart.educa@gmail.com <br><b>пароль:</b> 123456789</li>
            </ul>

            <a href="http://hbt.im/f739d450" class="btn btn-info">Перейти в обучающий курс</a>
            <a href="https://www.getdrip.com/signin" target="_blank" class="btn btn-primary">перейти в CRM</a>

        </div>
    </div>

{% endblock %}