
    <div class="text-center">
        <h5>История успеха</h5>
    </div>
    {{ form_start(form) }}
    <div class="modal-body">
        {{ form_widget(form) }}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
    </div>
    {{ form_end(form) }}