{% extends "@HBAdmin/layout.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Создание нового курса. Заполнение основной информации.
        </div>
        <div class="card-body">
            <form method="post" action="{{ path('hb.course.create') }}">
                {{ form_widget(form) }}
                <input type="submit" value="Сохранить и продолжить" class="btn btn-primary" />
            </form>
        </div>
    </div>
{% endblock %}