{{ customer.firstName }},<br><br>
Мы ждём вас на нашей платформе. Пожалуйста, завершите регистрацию <a href="{{ link }}">по этой ссылке</a>.<br><br>
И онлайн школа, и вебинарная комната на нашей платформе прекрасно выглядят на всех устройствах. Однако, это пока не касается вашего личного кабинета, в настоящий момент он не адаптирован для мобильных устройств. Поэтому, мы рекомендуем вам <b>использовать компьютер для входа в ваш личный кабинет</b> на нашей платформе.<br><br>
Мы работаем над мобильной версией личного кабинета, она будет доступна очень скоро.<br><br>
Ваша команда Heartbeat Education
