<div style="display: none" class="modals">

    {#organic_popup#}
    <div class="webinar mfp-hide" id="organic_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Органическая</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>Естественная воронка продаж, пользователь попадает на страницу курса через
                        результат поисковой выдачи, по узнаваемости вашего бренда, по рекомендации.</p>
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Используется для привлечения новых подписчиков и сегментации клиентов.</p>
                    <h2>Какой Контент нужен от Автора для этой воронки?</h2>
                    <p>Только материалы образовательного продукта.</p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/organic.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    {#leadsAccum_popup#}
    <div class="vebinar_element_popup mfp-hide" id="leadsAccum_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Сбор лидов</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>На всех версиях (Органическая, Выгодная Формула) целевых страниц вашего продукта.
                        которые вы используете, а также на странице регистрации на вебинар, плюс на
                        страницах ваших статей в нашем блоге, мы размещаем всплывающее окно, которое
                        активируется при попытке пользователя уйти со страницы.</p>
                    <p>Таким образом, мы не блокируем основное целевое действие, которое пользователь
                        должен совершить на соответствующей странице (сделать покупку, начать курс или
                        зарегистрироваться на вебинар), и позиционируем подписку на "лидмагнит" как
                        дополнительное целевое действие.</p>
                    <p>Во всплывающем окне мы предлагаем пользователю оставить свой электронный адрес в
                        обмен на получение полезной информации от автора: чек-листа, статьи, бесплатного
                        урока.</p>
                    <p>Для пакетов VIP есть дополнительная возможность получить подписчика в
                        мессенджере.</p>
                    <p>Наша общая рекомендация для всех авторов - выстраивать максимально длинную
                        последовательность воронок, например: Сбор Лидов➜ Мини Курс ➜ Вебинарная➜
                        Слоеный Пирог ➜ Единоразовое Предложение ➜ Выгодная Формула, а также
                        использовать все воронки, привязанные к событиям: Брошенная Корзина, Кросс
                        Продажа, Допродажа и Горячие Лиды.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Вы получаете новых подписчиков, заинтересованных в вашем продукте.</p>
                    <h2>Хотите тест-драйв этой воронки? Отлично!</h2>
                    <p>1. Нажмите одну из кнопок: "Получить все письма сразу" или "Получить все письма
                        по графику".</p>
                    <p>2. Напишите в появившемся окне ваше имя и электронный адрес.</p>
                    <p>3. На ваш электронный адрес поступят все письма из воронки "Сбор лидов" на
                        примере курса Альберта Эйнштейна "Теория Относительности"</p>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/909669300/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="909669300">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/661059617/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="661059617">Получить все
                                письма сразу</a>
                        </div>
                    </div>
                    <h2>Какой Контент нужен от Автора для этой воронки?</h2>
                    <p>Клиенты получают доступ к урокам вашего курса, которые открыты для просмотра.
                        Если в вашем продукте нет открытых уроков, или вы считаете необходимым дать
                        клиенту другой лидмагнит - предоставьте его нам.</p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/leadsAccum1.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </div>

    {#favFormula_popup#}
    <div class="webinar mfp-hide" id="favFormula_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Выгодная формула</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>Воронка существует в двух вариантах: Начать бесплатно и Начать за 1$. Целевым
                        действием посетителя в первом варианте является регистрация, а во втором -
                        покупка, также вы получаете очень разную аудиторию. Аудитория "Начать бесплатно"
                        еще морально не готова платить, а аудитория "Начни за $1" уже сделала первую
                        оплату и имеет бОльшую вовлеченность.</p>
                    <p>Воронка эффективна для большинства онлайн продуктов. </p>
                    <ul>
                        <li>- Онлайн курсы: первые 20% курса бесплатно.</li>
                        <li>- Живые трансляции: первые 5 встреч.</li>
                        <li>- Марафоны: первая неделя.</li>
                        <li>- Коучинг: первая консультация.</li>
                    </ul>
                    <p>В зависимости от типа продукта и варианта воронки ("Начать бесплатно" или "Начать
                        за 1$"), пользователь в течение пробного периода получает серию сообщений,
                        мотивирующих его купить полную версию продукта.</p>
                    <p>Вы можете ограничить временные рамки для покупки пробной версии за 1$ или
                        бесплатной регистрации. Это имеет смысл, если воронка является звеном в
                        последовательности воронок.</p>
                    <p>Наша общая рекомендация для всех авторов - выстраивать максимально длинную
                        последовательность воронок, например: Сбор Лидов➜ Викторина ➜ Мини Курс ➜
                        Слоеный Пирог ➜ Доступ 72 часа➜ Начать за $1, а также использовать все воронки
                        привязанные к событиям: Брошенная Корзина, Кросс Продажа, Допродажа и Горячие
                        Лиды</p>
                    <p>Не имеет смысла ограничивать временные рамки для покупки только в случае, если вы
                        привлекаете трафик напрямую в эту воронку.</p>
                    <p>Для воронки "Начни Бесплатно или за 1 $" авторы получают настроенные
                        последовательности сообщений и напоминаний с настроенными автоматическими
                        триггерами:</p>
                    <p>- открыл/не открыл письмо, покупка курса, </p>
                    <p>- окончание участия/обучения в пробной версии.</p>
                    <p>В пакетах VIP все сообщения дублируются в виде диалогов чатбота.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Повышает конверсию в сегменте потенциальных клиентов, которые недостаточно
                        вовлечены для того, чтобы купить ваш образовательный продукт по полной цене и
                        цене со скидкой, без снижения ценности продукта.</p>
                    <h2>Хотите тест-драйв этой воронки? Отлично!</h2>
                    <p>1. Нажмите одну из кнопок: "Получить все письма сразу" или "Получить все письма
                        по графику".</p>
                    <p>2. Напишите в появившемся окне ваше имя и электронный адрес.</p>
                    <p>3. На ваш электронный адрес поступят все письма из воронки "Выгодная формула" на
                        примере курса Альберта Эйнштейна "Теория Относительности"</p>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/677531073/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="677531073">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/478677222/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="478677222">Получить все
                                письма сразу</a>
                        </div>
                    </div>
                    <h2>Какой Контент нужен от Автора для этой воронки?</h2>
                    <p>Только заявка с параметрами формулы! Все уже настроено и готово к работе :)</p>

                </div>
                <div class="center_text">
                    <p>
                        В воронке "Выгодная формула" возможна связь со следующими воронками:
                        <a href="#webinar_popup" class="js-funnelModal">Вебинарная</a>,
                        <a href="#leadsAccum_popup" class="js-funnelModal">Сбор Лидов</a>,
                        <a href="#quiz_popup" class="js-funnelModal">Викторина</a>,
                        <a href="#webinar_popup" class="js-funnelModal">Вебинар</a>,
                        <a href="#minicourse_popup" class="js-funnelModal">Миникурс</a>,
                        <a href="#pie_popup" class="js-funnelModal">Слоеный пирог</a>,
                        <a href="#abandonedCart_popup" class="js-funnelModal">Брошенная корзина</a>.
                    </p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/fav_formula.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </div>

    {#webinar_popup#}
    <div class="webinar mfp-hide" id="webinar_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Вебинарная</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>Повышение конверсии по вашему онлайн курсу обеспечивается благодаря:</p>
                    <ul>
                        <li>высокой явке на вебинар за счет использования серии предвебинарных
                            сообщений, мотивирующих и напоминающих пользователю о важности события;
                        </li>
                        <li>повышение вовлеченности через удержание фокуса их внимания на теме вебинара
                            за счет предоставления рабочей тетради участника и задания;
                        </li>
                        <li>повышение доверия спикеру через предоставление возможности покупки
                            единоразового предложения. Каждая дополнительная покупка повышает уровень
                            доверия к вам со стороны участника;
                        </li>
                        <li>созданию срочности в серии послевебинарных сообщений;</li>
                        <li>максимизация отложенных конверсий за счет того, что тех, кто не совершил
                            покупку, наша система автоматически переводит в другую воронку по вашему
                            выбору: Мини-курс, Видео курс, Выгодная формула. Наша общая рекомендация для
                            всех авторов - выстраивать максимально длинную последовательность воронок,
                            например: Сбор Лидов - Мини-курс - Единоразовое Предложение - Вебинар -
                            Слоеный Пирог - Выгодная Формула. А также использовать все воронки,
                            привязанные к событиям: Брошенная корзина, Горячие лиды, Кросс продажа,
                            Допродажа.
                        </li>
                    </ul>
                    <p>В пакетах VIP все сообщения дублируются в виде диалогов чатбота.</p>
                    <p>Все сообщения и диалоги предоставляются авторам в виде, готовом к использованию,
                        со всеми написанными текстами и встроенными ссылками, а также настроенными
                        автоматическими триггерами. В воронке "Вебинарная" используются следующие
                        автоматически отслеживаемые триггеры:</p>
                    <p>- открытие/неоткрытие письма,</p>
                    <p>- посещение/непосещение вебинара,</p>
                    <p>- купил/не купил курс. </p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>

                    <p>Ключевой задачей этой воронки является повышение конверсии в покупку основного
                        продукта после участия в платном вебинаре. Использование дополнительного
                        элемента - Единоразовое предложение (One Time Offer, оно же Tripwire) позволяет
                        повысить средний чек на одного покупателя. </p>
                    <h2>Хотите тест-драйв этой воронки? Отлично!</h2>
                    <p>1. Нажмите одну из кнопок: "Получить все письма сразу" или "Получить все письма
                        по графику".</p>
                    <p>2. Напишите в появившемся окне ваше имя и электронный адрес.</p>
                    <p>3. На ваш электронный адрес поступят все письма из воронки "Вебинарная" на
                        примере курса Альберта Эйнштейна "Теория Относительности"</p>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/274653117/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="274653117">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/164232344/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="164232344">Получить все
                                письма сразу</a>
                        </div>
                    </div>

                    <h2>Какой контент нужен от автора для этой воронки? </h2>

                    <p>Автору необходимо иметь образовательные продукты:</p>

                    <p>- вебинар, </p>

                    <p>- онлайн курс, серия вебинаров, марафон или коучинг на выбор.</p>

                    <p>Исходя из логики воронки, стоимость вебинара гораздо ниже стоимости второго
                        образовательного продукта, и как правило составляет до $10. Дополнительно, в
                        целях повышения конверсии данной воронки, автор может предоставить следующие
                        дополнительные материалы: единоразовое предложение, рабочая тетрадь участника,
                        задание.</p>
                </div>
                <div class="center_text">
                    <p>
                        В воронке "Вебинарная" возможна связь со следующими воронками:
                        <a href="#favFormula_popup" class="js-funnelModal">Выгодная формула</a>,
                        <a href="#leadsAccum_popup" class="js-funnelModal">Сбор Лидов</a>,
                        <a href="#quiz_popup" class="js-funnelModal">Викторина</a>,
                        <a href="#minicourse_popup" class="js-funnelModal">Миникурс</a>,
                        <a href="#pie_popup" class="js-funnelModal">Слоеный пирог</a>,
                        <a href="#abandonedCart_popup" class="js-funnelModal">Брошенная корзина</a>,
                        <a href="#oto_popup" class="js-funnelModal">Единоразовое предложение</a>,
                        <a href="#videoCourse_popup" class="js-funnelModal">Видеокурс</a>,
                        <a href="#hotLeads_popup" class="js-funnelModal">Горячие лиды</a>.
                    </p>
                </div>
            </div>
            <div class="link_buttons_title">Источники трафика</div>
            <div class="link_buttons">
                <a href="#leadsAccum_popup" class="link_elem js-funnelModal">Сбор лидов</a>
                <a href="#quiz_popup" class="link_elem js-funnelModal">Викторина</a>
                <a href="#minicourse_popup" class="link_elem js-funnelModal">Мини­курс</a>
                <a href="#72hours_popup" class="link_elem js-funnelModal">72 часа</a>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/webinar.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    {#oto_popup#}
    <div class="webinar mfp-hide" id="oto_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Единоразовое предложение</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>На страницах благодарности:</p>
                    <ul>
                        <li>- после регистрации на вебинар,</li>
                        <li>- после подписки на страницах ваших статей в нашем блоге,</li>
                        <li>- после подписки на мини-курс</li>
                        <li>- после подписки на лидмагнит</li>
                    </ul>
                    <p>Мы делаем единоразовое "мега крутое" предложение, цель которого - дать
                        возможность за небольшие деньги познакомиться с автором до вебинара, повысить
                        средний чек, лояльность пользователя и мотивировать заплатить за более дорогой
                        продукт.</p>
                    <p>Для пакетов VIP есть дополнительная возможность получить подписчика в
                        мессенджере.</p>
                    <p>Наша общая рекомендация для всех авторов - выстраивать максимально длинную
                        последовательность воронок, например: Сбор Лидов➜ Единоразовое предложение -
                        Мини Курс ➜ Вебинарная➜ Слоеный Пирог ➜ Выгодная формула, а также использовать
                        воронки, привязанные к событиям: Брошенная Корзина, Кросс Продажа, Допродажа и
                        Горячие Лиды.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Вы получаете новых подписчиков, заинтересованных в вашем продукте. Допродажа.
                        Повышает лояльность к автору, уровень доверия. Сломать психологический барьер.
                        Прогревает лидскор.</p>
                    <h2>Какой Контент нужен от Автора для этой воронки?</h2>
                    <p>Запись вебинара, книга автора, чек-лист, видео урок - все, что можно предложить в
                        качестве единоразового предложения.</p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/oto.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    {#educational_popup#}
    <div class="vebinar_element_popup mfp-hide" id="educational_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Образовательная</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>Воронка предусматривает рассылку от 10 до 104 сообщений (104 письма доступны при
                        наличии контента у автора). Частота рассылки - по 2 письма в неделю, содержание
                        писем о том, зачем нужно учиться, и как делать это эффективно. В письма включены
                        ссылки на блог Heartbeat Education. Вы можете добавлять в письма свой
                        контент. </p>
                    <p>Пользователь получает первое письмо с момента попадания его емейла в базу.</p>
                    <p>В Образовательной воронке авторы получают настроенные последовательности
                        сообщений и напоминаний с настроенными автоматическими триггерами: </p>
                    <ul>
                        <li>открыл/не открыл письмо</li>
                    </ul>
                    <p>В пакетах VIP все сообщения дублируются в виде диалогов чатбота.</p>
                    <p>Наша общая рекомендация для всех авторов - выстраивать максимально длинную
                        последовательность воронок, например: Сбор Лидов ➜ Мини Курс ➜ Вебинарная ➜
                        Слоеный Пирог ➜ Доступ 72 часа ➜ Начать за $1, а также использовать все воронки,
                        привязанные к событиям: Брошенная Корзина, Кросс Продажа, Допродажа и Горячие
                        Лиды.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Помогает повысить интерес к автору и его продукту, сделать онлайн школу более
                        узнаваемой. Усиливает вовлеченность в онлайн обучение, улучшает понимание
                        собственных потребностей потенциальными клиентами.</p>
                    <h2>Хотите тест-драйв этой воронки? Отлично!</h2>
                    <p>1. Нажмите одну из кнопок: "Получить все письма сразу" или "Получить все письма
                        по графику".</p>
                    <p>2. Напишите в появившемся окне ваше имя и электронный адрес.</p>
                    <p>3. На ваш электронный адрес поступят все письма из воронки "Образовательная",
                        созданные на примере курса Альберта Эйнштейна "Теория Относительности"</p>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/909669300/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="909669300">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/661059617/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="661059617">Получить все
                                письма сразу</a>
                        </div>
                    </div>
                    <h2>Какой Контент нужен от Автора для этой воронки?</h2>
                    <p>Автору необходимо предоставить контент для писем.</p>
                </div>

                <div class="center_text">
                    <p>
                        В воронке "Образовательная" возможна связь со следующими воронками:
                        <a href="#webinar_popup" class="js-funnelModal">Вебинарная</a>,
                        <a href="#minicourse_popup" class="js-funnelModal">Миникурс</a>,
                        <a href="#leadsAccum_popup" class="js-funnelModal">Сбор Лидов</a>,
                        <a href="#organic_popup" class="js-funnelModal">Органическая</a>,
                        <a href="#favFormula_popup" class="js-funnelModal">Выгодная формула</a>,
                        <a href="#quiz_popup" class="js-funnelModal">Викторина</a>.
                    </p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/educational.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </div>

    {#club_popup#}
    <div class="webinar mfp-hide" id="club_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Клуб авторов</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>На страницах благодарности:</p>
                    <ul>
                        <li>- после регистрации на вебинар,</li>
                        <li>- после подписки на страницах ваших статей в нашем блоге,</li>
                        <li>- после подписки на мини-курс</li>
                        <li>- после подписки на лидмагнит</li>
                    </ul>
                    <p>Мы делаем единоразовое "мега крутое" предложение, цель которого - дать
                        возможность за небольшие деньги познакомиться с автором до вебинара, повысить
                        средний чек, лояльность пользователя и мотивировать заплатить за более дорогой
                        продукт.</p>
                    <p>Для пакетов VIP есть дополнительная возможность получить подписчика в
                        мессенджере.</p>
                    <p>Наша общая рекомендация для всех авторов - выстраивать максимально длинную
                        последовательность воронок, например: Сбор Лидов➜ Единоразовое предложение -
                        Мини Курс ➜ Вебинарная➜ Слоеный Пирог ➜ Выгодная формула, а также использовать
                        воронки, привязанные к событиям: Брошенная Корзина, Кросс Продажа, Допродажа и
                        Горячие Лиды.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Вы получаете новых подписчиков, заинтересованных в вашем продукте. Допродажа.
                        Повышает лояльность к автору, уровень доверия. Сломать психологический барьер.
                        Прогревает лидскор.</p>
                    <h2>Какой Контент нужен от Автора для этой воронки?</h2>
                    <p>Запись вебинара, книга автора, чек-лист, видео урок - все, что можно предложить в
                        качестве единоразового предложения.</p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/club.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    {#upSell_popup#}
    <div class="vebinar_element_popup mfp-hide" id="upSell_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Допродажа</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>После того, как клиент купит ваш продукт, наша платформа автоматически отправит
                        ему сообщение с предложением возможности докупить следующую ценовую версию
                        вашего продукта с определенной вами скидкой.</p>
                    <p>Затем на странице подтверждения оплаты наша платформа продублирует это
                        предложение с возможностью провести дополнительную транзакцию в 1 клик, без
                        повторного ввода данных платежной карты.</p>
                    <p>Для воронки "Допродажа" авторы получают настроенные последовательности сообщений
                        и напоминаний с автоматическими триггерами:</p>
                    <ul>
                        <li>открыл/не открыл письмо,</li>
                        <li>покупка курса.</li>
                    </ul>
                    <p>В пакетах VIP все сообщения дублируются в виде диалогов чатбота.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Увеличивает средний чек на одного клиента</p>
                    <h2>Хотите тест-драйв этой воронки? Отлично!</h2>
                    <p>1. Нажмите одну из кнопок: "Получить все письма сразу" или "Получить все письма
                        по графику".</p>
                    <p>2. Напишите в появившемся окне ваше имя и электронный адрес.</p>
                    <p>3. На ваш электронный адрес поступят все письма из воронки "Допродажа" на примере
                        курса Альберта Эйнштейна "Теория Относительности"</p>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/241438708/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="241438708">Получить все
                                письма (VIP) по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/207185162/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="207185162">Получить все
                                письма (VIP) сразу</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/214861896/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="214861896">Получить все
                                письма (оптимальный) по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/599450627/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="599450627">Получить все
                                письма (оптимальный) сразу</a>
                        </div>
                    </div>
                    <h2>Какой Контент нужен от Автора для этой воронки?</h2>
                    <p>Автору необходимо иметь не менее двух ценовых предложений для его
                        образовательного продукта.</p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/upsell.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    {#crossSell_popup#}
    <div class="vebinar_element_popup mfp-hide" id="crossSell_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Кросс продажа</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>После того, как студент завершит прохождение образовательно продукта, наша
                        платформа автоматически отправит ему серию сообщений с мотивацией купить еще
                        один ваш продукт.</p>
                    <p>В завершении к этому, автор может создать бонусный урок в обучающей программе,
                        содержанием которого будет призыв купить другой продукт.</p>
                    <p>Для воронки "Кросс-продажа" авторы получают настроенные последовательности
                        сообщений и напоминаний с автоматическим триггерами:</p>
                    <ul>
                        <li>открыл/не открыл письмо,</li>
                        <li>покупка курса</li>
                    </ul>
                    <p>В пакетах VIP все сообщения дублируются в виде диалогов чатбота.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Увеличивает количество покупок на одного клиента, повышает лояльность и
                        показатель жизненной ценности клиента (Life Time Value).</p>
                    <h2>Хотите тест-драйв этой воронки? Отлично!</h2>
                    <p>1. Нажмите одну из кнопок: "Получить все письма сразу" или "Получить все письма
                        по графику".</p>
                    <p>2. Напишите в появившемся окне ваше имя и электронный адрес.</p>
                    <p>3. На ваш электронный адрес поступят все письма из воронки "Кросс-продажа",
                        созданные на примере курса Альберта Эйнштейна "Теория Относительности"</p>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/41699979/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="41699979">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/744623575/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="744623575">Получить все
                                письма сразу</a>
                        </div>
                    </div>
                    <h2>Какой Контент нужен от Автора для этой воронки?</h2>
                    <p>Автору необходимо иметь не менее двух образовательных продуктов.</p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/crossell.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </div>

    {#abandonedCart_popup#}
    <div class="webinar mfp-hide" id="abandonedCart_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Брошенная корзина</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>После того, как клиент посетил страницу оплаты, но не совершил покупку, система
                        автоматически отправляет ему ежедневно по 1 письму, которое мотивирует его
                        вернуться на страницу оплаты и завершить покупку. Каждое письмо содержит прямую
                        ссылку на страницу оплаты.</p>
                    <p>Для воронки "Брошенная корзина" авторы получают настроенные последовательности
                        сообщений и напоминаний с такими автоматическими триггерами:</p>
                    <ul>
                        <li>открыл/не открыл письмо,</li>
                        <li>покупка курса,</li>
                        <li>посещение страницы оплаты.</li>
                    </ul>
                    <p>В пакетах VIP все сообщения дублируются в виде диалогов чатбота.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Повышает конверсию целевой страницы вашего продукта.</p>
                    <h2>Хотите тест-драйв этой воронки? Отлично!</h2>
                    <p>1. Нажмите одну из кнопок: "Получить все письма сразу" или "Получить все письма
                        по графику".</p>
                    <p>2. Напишите в появившемся окне ваше имя и электронный адрес.</p>
                    <p>3. На ваш электронный адрес поступят все письма из воронки "Брошенная корзина" на
                        примере курса Альберта Эйнштейна "Теория Относительности"</p>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/653793955/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="653793955">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/438875039/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="438875039">Получить все
                                письма сразу</a>
                        </div>
                    </div>
                    <h2>Какой Контент нужен от Автора для этой воронки?</h2>
                    <p>Только заявка! Все уже настроено и готово к работе :)</p>

                </div>
                <div class="center_text">
                    <p>
                        В воронке "Брошенная корзина" возможна связь со следующими воронками:
                        <a href="#favFormula_popup" class="js-funnelModal">Выгодная формула</a>,
                        <a href="#organic_popup" class="js-funnelModal">Органическая</a>,
                        <a href="#webinar_popup" class="js-funnelModal">Вебинарная</a>.
                    </p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/cart.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    {#minicourse_popup#}
    <div class="vebinar_element_popup mfp-hide" id="minicourse_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Мини-курс</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>"Мини-курс" - это бесплатный образовательный продукт, представляющий серию из 3-7
                        сообщений, в каждом из которых автор делится небольшим уроком и дает задание по
                        его итогам. "Мини-курс" занимает промежуточное место между воронкой "Сбор Лидов"
                        и продающими воронками "Выгодная Формула", "Единоразовое Предложение", "Слоеный
                        Пирог", "Вебинарная".</p>
                    <p>Сочетание уроков и заданий должно быть сбалансированным. Если вы дадите слишком
                        много ценности потенциальным клиентам, часть из них решит, что им уже не нужен
                        ваш платный продукт, а если слишком мало - то вы не создадите доверия с вашими
                        потенциальными клиентами.</p>
                    <p>Для воронки "Мини-курс" авторы получают настроенные последовательности сообщений
                        и напоминаний с настроенными автоматическими триггерами:</p>
                    <ul>
                        <li>открыл/не открыл письмо</li>
                    </ul>
                    <p>В пакетах VIP все сообщения дублируются в виде диалогов чатбота.</p>
                    <p>Наша общая рекомендация для всех авторов - выстраивать максимально длинную
                        последовательность воронок, например: Сбор Лидов➜ Мини-курс➜ Вебинарная➜ Слоеный
                        Пирог➜ Выгодная Формула, а также использовать все воронки, привязанные к
                        событиям: Брошенная Корзина, Кросс Продажа, Допродажа и Горячие Лиды.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Улучшает конверсию в покупки, повышает доверие к автору и узнаваемость бренда,
                        дает более четкое понимание потребностей ваших клиентов.</p>
                    <h2>Хотите тест-драйв этой воронки? Отлично!</h2>
                    <p>1. Нажмите одну из кнопок: "Получить все письма сразу" или "Получить все письма
                        по графику".</p>
                    <p>2. Напишите в появившемся окне ваше имя и электронный адрес.</p>
                    <p>3. На ваш электронный адрес поступят все письма из воронки "Мини-курс" на примере
                        курса Альберта Эйнштейна "Теория Относительности"</p>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/321709007/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="321709007">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/131366507/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="131366507">Получить все
                                письма сразу</a>
                        </div>
                    </div>
                    <h2>Какой контент нужен от автора для этой воронки?</h2>
                    <p>Контент мини курса.</p>
                </div>
                <div class="center_text">
                    <p>
                        В воронке "Миникурс" возможна связь со следующими воронками:
                        <a href="#webinar_popup" class="js-funnelModal">Вебинарная</a>,
                        <a href="#leadsAccum_popup" class="js-funnelModal">Сбор Лидов</a>,
                        <a href="#quiz_popup" class="js-funnelModal">Викторина</a>,
                        <a href="#favFormula_popup" class="js-funnelModal">Выгодная формула</a>,
                        <a href="#oto_popup" class="js-funnelModal">Единоразовое предложение</a>,
                        <a href="#pie_popup" class="js-funnelModal">Слоеный пирог</a>.
                    </p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/minicourse.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </div>

    {#hotLeads_popup#}
    <div class="vebinar_element_popup mfp-hide" id="hotLeads_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Горячие лиды</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>Интеллектуальная воронка, основанная на анализе взаимодействия пользователя с
                        платформой.</p>
                    <p>За каждое взаимодействие (список ниже) мы начисляем баллы профилю пользователя.
                        Чем больше количество баллов, тем выше готовность клиента к покупке. </p>
                    <p>Как только клиент достигает определенного количества баллов, или сочетания
                        нескольких важных взаимодействий, мы отправляем автору письмо с предложением
                        позвонить данному клиенту и списком действий, которые этот клиент выполнил.</p>
                    <p>Благодаря этой воронке, ваши менеджеры смогут звонить не всем подряд, а только
                        тем клиентам, которые готовы к покупке, а наличие списка действий клиента
                        позволит им вести более содержательный разговор, который с большей вероятностью
                        приведет к покупке.</p>
                    <p>Для воронки "Горячие лиды" авторы получают последовательности сообщений и
                        напоминаний с автоматическими триггерами:</p>
                    <ul>
                        <li>открыл/не открыл письмо,</li>
                        <li>покупка курса</li>
                    </ul>
                    <p>В пакетах VIP все сообщения дублируются в виде диалогов чатбота.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Увеличение конверсии, повышение эффективности работы ваших менеджеров по
                        продажам.</p>
                    <h2>Хотите тест-драйв этой воронки? Отлично!</h2>
                    <p>1. Нажмите одну из кнопок: "Получить все письма сразу" или "Получить все письма
                        по графику".</p>
                    <p>2. Напишите в появившемся окне ваше имя и электронный адрес.</p>
                    <p>3. На ваш электронный адрес поступят все письма из воронки "Горячие Лиды",
                        созданные на примере курса Альберта Эйнштейна "Теория Относительности"</p>
                    <div class="row align-items-center">
                        <div class="col-xs-12">
                            <h3>Посетил 2 раза страницу оплаты</h3>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/175109141/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="175109141">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/618242377/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="618242377">Получить все
                                письма сразу</a>
                        </div>
                        <div class="col-xs-12">
                            <h3>Посетил 3 вебинара</h3>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/679052395/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="679052395">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/742963170/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="742963170">Получить все
                                письма сразу</a>
                        </div>
                        <div class="col-xs-12">
                            <h3>Посетил 7 страниц сайта</h3>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/428815199/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="428815199">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/38037164/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="38037164">Получить все
                                письма сразу</a>
                        </div>
                        <div class="col-xs-12">
                            <h3>Лидскор пользователя достиг 80ти пунктов</h3>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/225568869/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="225568869">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/506605290/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="506605290">Получить все
                                письма сразу</a>
                        </div>
                        <div class="col-xs-12">
                            <h3>Регистрация на курс во время мастер-класса </h3>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/639141505/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="639141505">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/643498823/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="643498823">Получить все
                                письма сразу</a>
                        </div>
                    </div>

                    <h2>Какой контент нужен от автора для этой воронки?</h2>
                    <p>Только заявка! Все уже настроено и готов к работе :)</p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/hotLeads.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </div>

    {#pie_popup#}
    <div class="vebinar_element_popup mfp-hide" id="pie_popup">
        <div class="wrap_webinar">
            <div class="title_webinar">
                <i class="logo_headicon icon-Logo-Znak"></i>
                <h2>Воронка Слоеный пирог</h2>
                <!-- <p>Регистрация на вебинар и переход на другие воронки</p> -->
            </div>
            <div class="webinar_text">
                <div class="left_text">
                    <h2>Как работает эта воронка?</h2>
                    <p>Чтобы начать использовать эту воронку, автору необходим масштабный
                        образовательный продукт, который можно логически разбить на блоки, каждый из
                        которых будет иметь собственную ценность.</p>
                    <p>Что такое масштабный продукт? Как правило, масштабный продукт позволяет освоить
                        профессию или овладеть навыком. Такой продукт можно разбить на логические видео
                        блоки (он же "слой" - отсюда название воронки), каждый из которых будет иметь
                        собственную ценность.</p>
                    <p>Нужен пример? Пожалуйста: <a href="https://heartbeat.education/p/501/">Полный
                            Курс “Практическое Руководство по Ораторскому Искусству”</a> и его слои -
                        видео курсы: <a href="https://heartbeat.education/p/5017">один</a>, <a
                                href="https://heartbeat.education/p/50122">два</a>, <a
                                href="https://heartbeat.education/p/50172">три</a>, <a
                                href="https://heartbeat.education/p/50171">четыре</a>, <a
                                href="https://heartbeat.education/p/50173">пять</a>.</p>
                    <p>После того, как с нашей помощью в Личном кабинете вы создали блоки для воронки
                        "Слоеный Пирог", направьте сюда тех, кто проявил интерес, но пока не купил ваш
                        продукт. "Теплые" клиенты начинают получать еженедельные сообщения с
                        предложением купить новый слой пирога :) Чем больше "слоев" у продукта, тем
                        дольше вы останетесь в поле зрения клиента, и тем выше вероятность покупки!</p>
                    <p>В пакетах VIP все сообщения дублируются в виде диалогов чатбота.</p>
                    <p>Все сообщения и диалоги предоставляются авторам в виде, готовом к использованию,
                        со всеми написанными текстами и встроенными ссылками, а также настроенными
                        автоматическими триггерами. В воронке "Слоеный пирог" используется следующие
                        автоматически отслеживаемые триггеры:</p>
                    <ul>
                        <li>открыл/не открыл письмо,</li>
                        <li>покупка курса.</li>
                    </ul>
                    <p>Наша общая рекомендация для всех авторов - выстраивать максимально длинную
                        последовательность воронок, например: Сбор Лидов➜ Мини Курс ➜ Вебинарная➜
                        Слоеный Пирог ➜ Единоразовое Предложение➜ Выгодная Формула, а также использовать
                        все воронки, привязанные к событиям: Брошенная Корзина, Кросс Продажа, Допродажа
                        и Горячие Лиды.</p>
                </div>
                <div class="right_text">
                    <h2>Какие задачи решает эта воронка?</h2>
                    <p>Улучшает конверсию, повышает общий объем продаж и расширяет ассортимент обучающих
                        продуктов за счет обращения к тем пользователям, которые не купили ваш основной
                        продукт. Мы разбиваем его на части и предлагаем пользователям как набор новых
                        продуктов.</p>
                    <h2>Хотите тест-драйв этой воронки? Отлично!</h2>
                    <p>1. Нажмите одну из кнопок: "Получить все письма сразу" или "Получить все письма
                        по графику".</p>
                    <p>2. Напишите в появившемся окне ваше имя и электронный адрес.</p>
                    <p>3. На ваш электронный адрес поступят все письма из воронки "Слоеный пирог" на
                        примере курса Альберта Эйнштейна "Теория Относительности"</p>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/909669300/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="909669300">Получить все
                                письма по графику</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.getdrip.com/forms/661059617/submissions/new"
                               class="package_btn land_btn" data-drip-show-form="661059617">Получить все
                                письма сразу</a>
                        </div>
                    </div>
                    <h2>Какой контент нужен от автора для этой воронки?</h2>
                    <p>Необходим образовательный продукт, который можно разбить на составные части.</p>
                </div>
                <div class="center_text">
                    <p>
                        В воронке "Слоеный пирог" возможна связь со следующими воронками:
                        <a href="#webinar_popup" class="js-funnelModal">Вебинарная</a>,
                        <a href="#minicourse_popup" class="js-funnelModal">Миникурс</a>,
                        <a href="#leadsAccum_popup" class="js-funnelModal">Сбор Лидов</a>,
                        <a href="#favFormula_popup" class="js-funnelModal">Выгодная формула</a>,
                        <a href="#quiz_popup" class="js-funnelModal">Викторина</a>,
                        <a href="#pie_popup" class="js-funnelModal">Слоеный пирог</a>,
                        <a href="#hotLeads_popup" class="js-funnelModal">Горячие лиды</a>.
                    </p>
                </div>
            </div>

            <div class="hidden-md hidden-lg text-center">
                <h4>Данный элемент расчитан на отображение в настольных браузерах</h4>
            </div>

            <div class="image-stage js-imageStage">
                <div class="controls js-controls">
                    <button type="button" id="control-in" class="control control-in">+</button>
                    <button type="button" id="control-out" class="control control-out inactive"
                            disabled>-
                    </button>
                </div>
                <div class="image-wrap">
                    <img class="image"
                         src="https://content.baxtep.com/wp-content/uploads/2018/12/pie.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</div>
