<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="//cdn.baxtep.com/img/favicon/apple-icon-57x57.png?v=1">
    <link rel="apple-touch-icon" sizes="60x60" href="//cdn.baxtep.com/img/favicon/apple-icon-60x60.png?v=1">
    <link rel="apple-touch-icon" sizes="72x72" href="//cdn.baxtep.com/img/favicon/apple-icon-72x72.png?v=1">
    <link rel="apple-touch-icon" sizes="76x76" href="//cdn.baxtep.com/img/favicon/apple-icon-76x76.png?v=1">
    <link rel="apple-touch-icon" sizes="114x114" href="//cdn.baxtep.com/img/favicon/apple-icon-114x114.png?v=1">
    <link rel="apple-touch-icon" sizes="120x120" href="//cdn.baxtep.com/img/favicon/apple-icon-120x120.png?v=1">
    <link rel="apple-touch-icon" sizes="144x144" href="//cdn.baxtep.com/img/favicon/apple-icon-144x144.png?v=1">
    <link rel="apple-touch-icon" sizes="152x152" href="//cdn.baxtep.com/img/favicon/apple-icon-152x152.png?v=1">
    <link rel="apple-touch-icon" sizes="180x180" href="//cdn.baxtep.com/img/favicon/apple-icon-180x180.png?v=1">
    <link rel="icon" type="image/png" sizes="192x192" href="//cdn.baxtep.com/img/favicon/android-icon-192x192.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="//cdn.baxtep.com/img/favicon/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="96x96" href="//cdn.baxtep.com/img/favicon/favicon-96x96.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="//cdn.baxtep.com/img/favicon/favicon-16x16.png?v=1">
    <link rel="manifest" href="//cdn.baxtep.com/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="//cdn.baxtep.com/img/favicon/ms-icon-144x144.png?v=1">
    <meta name="theme-color" content="#FF6400">
    <title>Страница для авторов и продюсеров | Heartbeat Education</title>
    <meta name="description" content="Программы обучения с пошаговой поддержкой от лучших авторов и наставников"/>
    <link rel="canonical" href="https://merchants.heartbeat.education"/>
    <meta property="og:title" content="Heartbeat Education"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://www.filepicker.io/api/file/Gce6FOtDSkWLPmDQIwKX"/>
    <meta property="og:url" content="http://heartbeat.education"/>
    <meta name="brand_video_player_color" content="#FF6400"/>
    <meta name="site_title" content="Heartbeat Education"/>
    <link href="https://cdn.baxtep.com/new/css/style.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300i,400i,500i|Source+Sans+Pro:400,600,400i,600i"
          media="all">
    <script>window._wq = window._wq || [];</script>
	<script src="//cdn.baxtep.com/new/js/thbl/application.min.js"></script>
	<script src="//cdn.baxtep.com/new/js/thbl/student.min.js"></script>
    <script defer src='https://cdn.baxtep.com/plugins/slick/slick.min.js'></script>
    <script defer src='https://cdn.baxtep.com/new/js/prototype.js'></script>
    <script defer src='https://cdn.baxtep.com/new/js/custom.min.js'></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver;
            var bodyObserver = new MutationObserver(function (mutations) {
                for (var i = 0; i < mutations.length; i++) {
                    if (mutations[i].attributeName == 'style') {
                        if (window.getComputedStyle(mutations[i].target).paddingBottom !== '0px') {
                            mutations[i].target.style.paddingBottom = ''
                        }
                    }
                }
                ;
            });

            bodyObserver.observe(document.body, {
                attributes: true, attributeFilter: ['style'], childList: false, subtree: false, characterData: false
            });
        })

        window.onload = function () {
            $('.courses_slick').find('.courses_ell').on('click', function (event) {
                // Product Clicked
                event.preventDefault();
                var name = $(this).data('course-name');
                setCookie('userProd', name, {path: '/'});
            });
            $('#user_sign_up').on('click', function (event) {
                setCookie('userSignup', 'true', {path: '/'});
            });
        }
    </script>
    <script defer src='https://fast.wistia.com/assets/external/E-v1.js'></script>

    <link href="/blog/rss" rel="alternate" title="RSS Feed" type="application/rss+xml"/>
    <!--layouts/partials/head-->
    <meta http-content='IE=Edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width,initial-scale=1.0,user-scalable=no' name='viewport'>
    <meta id="fedora-keys" data-env="production" data-stripe="pk_live_hkgvgSBxG4TAl3zGlXiB1KUX"
          data-track-all-ahoy="false" data-track-changes-ahoy="false" data-track-clicks-ahoy="false"
          data-track-sumbits-ahoy="false" data-filepicker="ADNupMnWyR7kCWRvm76Laz"
          data-taxamo="public_3adAdeo6B9dUufD_mJMEMkTXmxbK-vffcybxQEvrshk"/>
    <meta id="fedora-data"
          data-school-id="127625" data-src="null" data-joined-at="&quot;2018-08-09T16:12:05Z&quot;"
          data-wistia-identifier="127625:student:13676780"
          data-gravatar-url="https://s.gravatar.com/avatar/bd120fdabbe13bb8c5014329e6727e83?d=mm"
          data-report-card="{&quot;423609&quot;:{&quot;id&quot;:null,&quot;course_id&quot;:423609,&quot;is_active&quot;:true,&quot;has_full_access&quot;:false,&quot;percent_complete&quot;:0,&quot;enrolled_at&quot;:&quot;2018-12-03T17:34:21Z&quot;,&quot;completed_at&quot;:null,&quot;certificate_page_id&quot;:null,&quot;certificate_serial_number&quot;:null,&quot;completed_lecture_count&quot;:0,&quot;completed_lecture_ids&quot;:[],&quot;days_enrolled&quot;:36},&quot;367631&quot;:{&quot;id&quot;:null,&quot;course_id&quot;:367631,&quot;is_active&quot;:true,&quot;has_full_access&quot;:false,&quot;percent_complete&quot;:0,&quot;enrolled_at&quot;:&quot;2018-10-02T13:20:22Z&quot;,&quot;completed_at&quot;:null,&quot;certificate_page_id&quot;:null,&quot;certificate_serial_number&quot;:null,&quot;completed_lecture_count&quot;:0,&quot;completed_lecture_ids&quot;:[],&quot;days_enrolled&quot;:98}}"
          data-course-ids="[423609,367631]" data-role="owner" data-last-four="null" data-completed-lecture-ids="[]"
          data-school-id="127625" data-school-launched="true" data-preview="logged_out"
          data-turn-off-fedora-branding="true" data-plan-supports-whitelabeling="true"
          data-powered-by-text="Разработано"
          data-asset-path="//https://d2oz8i5n9se8ej.cloudfront.net/assets/footer/teachable-logo-white-efd32576079839534d5b6e87bf4424e99b12624f854b2c500a4d3f0b6e2af46b.svg"
          data-school-preferences="{&quot;ssl_forced&quot;:&quot;true&quot;,&quot;bazaar_enabled&quot;:&quot;false&quot;,&quot;paypal_enabled&quot;:&quot;true&quot;,&quot;autoplay_lectures&quot;:&quot;true&quot;,&quot;comments_threaded&quot;:&quot;true&quot;,&quot;themeable_enabled&quot;:&quot;false&quot;,&quot;course_blocks_beta&quot;:&quot;true&quot;,&quot;eu_vat_tax_enabled&quot;:&quot;false&quot;,&quot;themeable_disabled&quot;:&quot;false&quot;,&quot;comments_moderation&quot;:&quot;false&quot;,&quot;eu_vat_tax_eligible&quot;:&quot;true&quot;,&quot;charge_exclusive_tax&quot;:&quot;true&quot;,&quot;drip_content_enabled&quot;:&quot;true&quot;,&quot;autocomplete_lectures&quot;:&quot;true&quot;,&quot;class_periods_enabled&quot;:&quot;false&quot;,&quot;css_properties_enabled&quot;:&quot;false&quot;,&quot;preenrollments_enabled&quot;:&quot;false&quot;,&quot;native_comments_enabled&quot;:&quot;true&quot;,&quot;new_text_editor_enabled&quot;:&quot;false&quot;,&quot;require_terms_agreement&quot;:&quot;true&quot;,&quot;ssl_forced_from_creation&quot;:&quot;false&quot;,&quot;turn_off_fedora_branding&quot;:&quot;true&quot;,&quot;allow_comment_attachments&quot;:&quot;true&quot;,&quot;authors_can_email_students&quot;:&quot;true&quot;,&quot;authors_can_manage_coupons&quot;:&quot;false&quot;,&quot;teachable_accounts_enabled&quot;:&quot;false&quot;,&quot;teachable_payments_enabled&quot;:&quot;true&quot;,&quot;authors_can_import_students&quot;:&quot;false&quot;,&quot;authors_can_publish_courses&quot;:&quot;false&quot;,&quot;internal_subscriptions_beta&quot;:&quot;true&quot;,&quot;recaptcha_enabled_on_signup&quot;:&quot;false&quot;,&quot;tax_form_collection_enabled&quot;:&quot;false&quot;,&quot;display_vat_inclusive_prices&quot;:&quot;true&quot;,&quot;single_page_checkout_enabled&quot;:&quot;true&quot;,&quot;authors_can_set_course_prices&quot;:&quot;false&quot;,&quot;affiliate_cookie_duration_days&quot;:&quot;365&quot;,&quot;authors_can_issue_certificates&quot;:&quot;false&quot;,&quot;store_student_cards_separately&quot;:&quot;true&quot;,&quot;authors_can_manage_certificates&quot;:&quot;false&quot;,&quot;authors_can_manage_course_pages&quot;:&quot;true&quot;,&quot;disable_js_course_event_tracking&quot;:&quot;false&quot;,&quot;exclusive_vat_on_custom_gateways&quot;:&quot;false&quot;,&quot;owner_teachable_accounts_required&quot;:&quot;true&quot;,&quot;prevent_payment_plan_cancellation&quot;:&quot;true&quot;,&quot;automatically_add_disqus_attachments&quot;:&quot;true&quot;,&quot;recalc_course_pct_on_lecture_publish&quot;:&quot;false&quot;,&quot;turn_off_myteachable_sign_up_branding&quot;:&quot;true&quot;}"
          data-accessible-features="[&quot;manually_importing_users&quot;,&quot;native_certificates&quot;,&quot;earnings_statements&quot;,&quot;teachable_payments&quot;,&quot;new_device_confirmation&quot;,&quot;elasticsearch_users&quot;,&quot;elasticsearch_transactions&quot;,&quot;teachable_u&quot;]"
          data-vat-country="null" data-hellosign-id="null"/>
    <meta id="analytics-keys" name="analytics" data-analytics="{}"/>

</head>
<body class='loaded'>
<div class="main-wrapper">
    <main class="content js-padboth" style="min-height: 100vh;">

        <!--layouts/partials/header-->

        <!--EOF layouts/partials/header-->
        <div class='view-school'>


            <div class="blocks-page blocks-page-rich_text " id="blocks-page-1772677">
              <div class="course-block block rich_text  " id="block-4552595">
                <section class="">
                	<div class="container">

                		<div class="row">
                			<article class="win">
                				<h2>Правила доверия и безопасности</h2>
                <p>Платформа Heartbeat Education - это сообщество, где мы вместе создаем систему образования будущего, которая станет возможной благодаря преподавателям, которые  любят учить и студентам, которые любят учиться. Платформа Heartbeat Education основана на ценностях, сосредоточенных вокруг обмена знаниями. Мы стремимся расширять возможности высококвалифицированных экспертов, чтобы обеспечить новые возможности обучения для сообщества студентов.
                </p>
                <p>Когда мы разделяем общие ценности, мы создаем процветающий, устойчивый рынок, где каждый может по-настоящему построить жизнь, о которой они мечтают, через онлайн-обучение.
                </p>
                <p><strong>Кто формирует наше сообщество?</strong>
                </p>
                <p>Студенты, которые приходят на Платформу Heartbeat Education, чтобы получить знания и навыки и прекрасные впечатления от процесса обучения, где у них есть доступ к разнообразию тем от экспертов, которые ежедневно практикуют эти навыки.
                </p>
                <p>Авторы Курсов и Образовательных программ - это люди, которые хотят от всего сердца делиться своими знаниями и любят учить. Они приходят на Платформу Heartbeat Education благодаря возможности создавать ценности в жизни студентов, а также  возможности  создавать высококачественные курсы через доступ к инструментам и сервисам Платформы.
                </p>
                <p><strong>Каковы наши основные правила?</strong>
                </p>
                <p>1) Не спамить
                </p>
                <p>Студенты приходят на Платформу, чтобы получить безопасный и мотивирующий опыт обучения, а преподаватели учат любви к обмену знаниями.
                </p>
                <p>Авторы: как только вы получаете доступ к Платформе, не пытайтесь продавать другие продукты или спамить друг друга запросами и предложениями.
                </p>
                <p>2) Не манипулировать системой
                </p>
                <p>Авторы: не ищите лазейки в правилах. Мы хотим, чтобы наше сообщество студентов развивалось, как и другие преподаватели . Когда вы пытаетесь манипулировать системой, вся общественность теряет свой круг общения с учащимися, которые хотят учиться.
                </p>
                <p>Студенты: не преследуйте преподавателей, не просите бесплатные промокоды или не предлагайте отзывы в обмен на скидки. Сообщество полагается на здоровое взаимодействие между студентами и преподавателями, а также на честные отзывы студентов, чтобы понять, какие курсы подходят для них.
                </p>
                <p>3) Быть профессиональными
                </p>
                <p>Наши преподаватели активно сотрудничают и общаются друг с другом, а студенты и преподаватели имеют плодотворные и энергичные дискуссии на основе опыта обучения. Мы просим вас быть почтительными, честными и внимательными со студентами, преподавателями и командой Heartbeat Education. Будьте позитивным участником сообщества. Никогда не запрашивайте личную информацию или не публикуйте неоригинальный контент как ваш собственный.
                </p>
                <p>4) Делиться своими замечаниями о нарушениях
                </p>
                <p>Если что-либо, что вы видите и переживаете, похоже на нарушение, или вы не уверены в правилах, напишите нам по адресу service@heartbeat.education. Наша команда проверяет каждое обращение и ответит на ваши вопросы и определит, было ли нарушение правил.
                </p>
                <p>Мы здесь, чтобы помочь вам понять нашу политику и добиться успеха на Платформе Heartbeat Education.
                </p>
                <p><strong>Что произойдет в случае нарушения правил:</strong>
                </p>
                <p>Наши студенты и преподаватели - это, как правило, хорошие, ответственные члены сообщества. Мы понимаем, что каждый ошибается, а иногда вы просто не знаете, что правильно, а что нет. Вот почему, в первый раз, когда есть нарушение, вы получите предупреждение. Мы предоставляем ресурсы, которые помогут вам лучше понять наши правила и научиться успешно работать на Платформе. Мы также рады поговорить с вами напрямую, чтобы помочь вам лучше понять правила.
                </p>
                <p>Мы ожидаем, что вы будете активны в понимании и соблюдении политики Heartbeat Education. В случае второго нарушения любого из наших правил, будут более серьезные последствия в виде «блокировок». Каждое нарушение фиксируется в нашей системе, и преподаватели, которые неоднократно нарушают правила, в конечном итоге будут удалены с Платформы.
                </p>
                <p>Первое нарушение: Предупреждение.
                </p>
                <p>Второе нарушение: Блокирование прямых личных сообщений и объявлений на месяц.
                </p>
                <p>Третье нарушение: Блокируется активное продвижение курсов на месяц +  Блокирование   прямых личных сообщений и объявлений на месяц.
                </p>
                <p>Четвертое нарушение: Блокируется регистрация новых студентов на курсы на месяц +  Блокирование   прямых личных сообщений и объявлений на месяц.
                </p>
                <p>Пятое нарушение: Автору блокируется доступ к Платформе и его курсы удаляются.
                </p>
                <p>Эти меры применяются на уровне курсов.Таким образом, если у Автора на курсе есть нарушение, все преподаватели, связанные с курсом, увидят отключенные функции для этого курса.
                </p>
                <p>Обратите внимание, что мы оставляем за собой право на блокировки в зависимости от серьезности нарушения. Мы пересматриваем  блокировки учетной записи на шестимесячной основе.
                </p>
                <h2>Условия для авторов</h2>
                <p>В настоящем документе, постоянно размещенном в сети Интернет по сетевому адресу <a href="https://heartbeat.education/p/terms-authors">https://heartbeat.education/p/terms-authors</a>, содержатся ключевые условия сотрудничества корпорации Heartbeat Education Inc. (далее по тексту - Платформа, мы)  с Авторами онлайн курсов и других образовательных программ (далее по тексту - Авторы, вы) об оказании услуг по созданию и продаже онлайн курсов и других образовательных программ (далее по тексту  - Курс).
                </p>
                <p>Это соглашение между вами и Платформой имеет обязательную юридическую силу и включено посредством ссылки в <a href="https://heartbeat.education/p/terms-users">Условия для Пользователя </a>(далее – «Условия использования»).
                </p>
                <p>Если вы приняли приглашение Платформы и  решили создать и опубликовать Курс на Платформе, вы становитесь нашим Автором. Отправляя Курс на модерацию, вы подтверждаете, что прочитали, поняли и согласились со всеми без исключения положениями.
                </p>
                <p>Версии соглашения "Условия для Авторов образовательных программ" (далее “Условия для Авторов”) на любом языке, отличном от английского, приведены исключительно для удобства использования. Вы понимаете и соглашаетесь с тем, что для решения каких-либо конфликтов будет использоваться версия данного соглашения на английском языке.
                </p>
                <h2>1. Основные определения / терминология </h2>
                <ul>
                	<li>“Платформа” – это интернет-ресурс, являющий собой совокупность объектов интеллектуальной собственности, включая, но не ограничиваясь: программное обеспечение (компьютерные программы), графический дизайн, базы данных, информация в текстовой, графической, звуковой и какой-либо другой форме, размещенные в доменной зоне heartbeat.education. Платформа – средство (инструменты) для создания Автором Курсов и последующей их продажи, при помощи которого Автор предоставляет информационные услуги (предлагает свои Курсы и/или другие образовательные услуги) Студенту.</li>
                	<li>“Студент” – физическое лицо (действующее от собственного имени или от имени лица, которое оно представляет), которое на основании Условий использования получило доступ к Платформе.</li>
                	<li>“Автор” – лицо, использующее Платформу для создания и продажи Курсов, преподавания, предоставления образовательных программ и информационных услуг (и/или других услуг) Студенту.</li>
                	<li>“Курс Автора” (“Курс”, “Образовательные программы Автора”) – целостное и сформированное изложение одной либо нескольких тем какой-либо тематики. Курс может состоять из онлайн-занятий, видео лекций, фонограмм, видеоигр, текстовых, графических, аудиовизуальных или каких-либо других материалов/объектов, разработанных и/или организованных, и/или предоставленных Автором. Детальное описание Курса Автора содержится на соответствующей странице Курса на Платформе.</li>
                	<li>“Учетная запись” – это совокупность данных Автора, которые содержатся на серверах Платформы и являются актуальными, полными и достоверными, которые необходимы для работы с Платформой на условиях настоящего соглашения, включая, но не ограничиваясь: номер контактного телефона, email, ФИО, банковские реквизиты, а также какая-либо другая информация о Авторе, включая копии документов, подтверждающих личность Автора. Такие данные размещаются Автором на Платформе добровольно, самостоятельно и бесплатно. Совокупность защищенных страниц Сайта, созданных в результате регистрации Студента, используя которые Студент имеет возможность оплаты доступа к Курсам и образовательным программам на Платформе, возможность доступа к частям бесплатных курсов, возможность получения доступа к Курсам и образовательным программам на Платформе в полном объеме после их оплаты, возможность получения информации о них, возможность изменения сведений о Студенте, пароля, а также осуществления иных действий, предусмотренных явными функциями Личного кабинета. </li>
                	<li>Доступ в Личный кабинет осуществляется путем внесения учетных данных в предусмотренные для этого поля на Сайте</li>
                	<li>“Стоимость Курса”−  стоимость, которую Студент должен оплатить для получения доступа к Курсу Автора на Платформе.</li>
                	<li>«Возврат» − сумма денежных средств, оплаченных Студентом за Курс Автора, которая подлежит возврату Студенту по его заявлению, в соответствии с условиями Договора о предоставлении услуги доступа к Платформе (https://www.Heartbeat.Education/agreement).</li>
                	<li>«Вознаграждение Автора» − сумма денежных средств, которая фактически подлежит перечислению в пользу Автора на изложенных тут условиях.</li>
                	<li>«Вознаграждение Платформы» − сумма денежных средств, которая удерживается Платформой из Стоимости Курса Автора, полученной от Студента, в качестве платы за предоставленные Платформой услуги в соответствии с изложенными Условиями для Автора.</li>
                </ul>
                <h2>2. Соглашение </h2>
                <p>Действуя в качестве Автора, вы заключаете соглашение непосредственно с компанией Heartbeat Education, Inc., расположенной в штате Пенсильвания, США. Для надлежащего оказания услуг Платформа имеет право привлекать другие компании (третьих лиц),  при этом сторонами по соглашению выступают Платформа и Автор.
                </p>
                <h2>3. Ваши отношения со студентами</h2>
                <p>Авторы не имеют прямых договорных отношений со Студентами. Вы будете получать только те данные о Студентах, которые доступны вам на Платформе. Вы понимаете и соглашаетесь с тем, что вы будете компенсировать Платформе любые убытки, связанные с несанкционированным использованием вами указанных данных о Студентах.
                </p>
                <h2>4. Обязательства </h2>
                <p>Действуя в качестве Автора, вы подтверждаете и гарантируете, что:
                </p>
                <ul>
                	<li>Автор принимает на себя обязательство не раскрывать информацию о порядке доступа к своей Учетной записи, включая логин и пароль, любой третьей стороне и несет ответственность за сохранение конфиденциальности этой информации, а также за все действия, происходящие с Учетной записью Автора или в связи с ее использованием, и обязуется незамедлительно сообщать Платформе о любом нарушении безопасности Учетной записи Автора. Платформе не несет ответственности за любые убытки, возникшие в связи с несанкционированным использованием Учетной записи Автора.</li>
                	<li>Вы единолично несете всю ответственность за предоставленный/опубликованный на Платформе Курс и все его без исключения содержимое (далее – «Предоставленные материалы»). Вы также соглашаетесь и подтверждаете, что вам принадлежат или же вы имеете необходимые лицензии, права, согласования и разрешения и обладаете полномочиями для того, чтобы принятием условий настоящего соглашения уполномочить Платформу на воспроизводство, распространение, общедоступное воспроизведение образовательного контента (в том числе с использованием цифровой передачи аудио, видео), общедоступное отображение, передачу общественности, рекламу, маркетинг и прочее аналогичное использование Предоставленных материалов.</li>
                	<li>Предоставленное содержимое не представляет собой незаконного присвоения любого права на интеллектуальную собственность третьей стороны и не нарушает его.</li>
                	<li>Вы обладаете необходимой квалификацией, опытом, образованием, подготовкой, знаниями и навыками, необходимыми для преподавания и предоставления услуг, которые вы предлагаете Студентам в рамках вашего Курса на Платформе.</li>
                	<li>Вы не будете публиковать или передавать содержимое или данные, которые являются недопустимыми, оскорбительными, расистскими, пропагандирующими ненависть, сексистскими, порнографическими, ложными, вводящими в заблуждение, неверными, нарушающими авторское право, дискредитирующими или порочащими.</li>
                	<li>Вы не будете загружать, публиковать либо иным образом передавать нежелательную и несанкционированную рекламу, рекламные материалы, нежелательную почту, спам и любые другие формы навязывания услуг (коммерческих или иных) какому-либо Студенту или какому-либо третьему лицу посредством Платформы.</li>
                	<li>Вы не будете использовать Платформу для любой деятельности, кроме услуг обучения и преподавания, предлагаемых Студентам.</li>
                	<li>Вы не будете участвовать ни в какой деятельности, которая потребует от Платформы получать лицензии у третьих лиц или оплачивать им лицензионные вознаграждения, включая, среди прочего, выплату лицензионных вознаграждений за публичное исполнение музыкальных произведений или звуковые записи.</li>
                	<li>Вы не будете копировать, распространять, изменять, разбирать на составляющие коды, дискредитировать, порочить, искажать, взламывать или повреждать Содержимое Платформы, за исключением случаев, указанных в настоящих Условиях.</li>
                	<li>Вы не будете выдавать себя за другое лицо или получать несанкционированный доступ к Учетной записи другого лица.</li>
                	<li>Использование вами Платформы осуществляется с согласия Платформы, в котором мы можем отказать на свое собственное усмотрение.</li>
                	<li>Вы не будете распространять вирусы, шпионские программы и иные компьютерные коды, файлы или программы, которые способны или предназначены для того, чтобы нанести ущерб либо имитировать работу аппаратного и программного обеспечения или оборудования связи либо иной части Платформы; считывать, использовать программы-роботы или другие автоматизированные средства любого вида для получения доступа к Платформе.</li>
                	<li>Вы не будете мешать или иным образом противодействовать другим Авторам в предоставлении их услуг и курсов;</li>
                	<li>Вы будете поддерживать сведения Учетной записи в актуальном состоянии.</li>
                	<li>Вы должны в кратчайший срок (не позже 3 рабочих дней) отвечать Студентам и предоставлять обслуживание, качество которого соответствует стандартам качества платформы Платформе, стандартам вашей отрасли и стандартам обучения в целом.</li>
                	<li>Вам исполнилось 18 лет или, в противном случае, ваш возраст — от 13 до 17 лет, и один из родителей или законный опекун, выступающий третьим лицом, выразил согласие с условиями настоящего соглашения и всеми другими условиями и правилами, опубликованными в Условиях использования, и вы принимаете на себя ответственность за соблюдение всех условий указанных документов.</li>
                </ul>
                <h4></h4>
                <h2 style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; letter-spacing: 0.3px;">5. Оплата вознаграждения автора</h2>
                <p>Вознаграждением Автора является вся сумма уплаченная студентами Платформе за вычетом: расходов на прием платежей (2.9%+0.3 USD) и Вознаграждения Платформы, Комиссий по партнерским программам. Вознаграждение Платформы определяется планом подписки на услуги Платформы, выбранный Автором:
                </p>
                <p>Профессиональный  - 6% от выручки
                </p>
                <p>Премиум - 10% от выручки
                </p>
                <p>VIP -15% от выручки
                </p>
                <p>VIP+19% от выручки
                </p>
                <p>Процент комиссии по партнерской программе определяется автором самостоятельно.
                </p>
                <ul>
                	<li>По Акции “1+1” Вознаграждение распределяется между двумя Авторами поровну.</li>
                	<li>По подписке на “Heartbeat Education Club” Платформа получает 50% общей суммы  Вознаграждения всех Авторов. Вторые 50% распределяются между Авторами, Курсы которых приобретены по программе подписки на “Heartbeat Education Club”. Автор имеет право отказаться от участия в Heartbeat Education Club.</li>
                </ul>
                <p><strong>Пример:</strong>
                </p>
                <p>10 Студентов приобрели годовую подписку “Heartbeat Education Club” и купили по ней 18 курсов у 13 Авторов. Совокупный доход составил 880 долларов США.  440 долларов США (50% общей суммы дохода) составляет доход Платформы. 440 долларов США (50% общей суммы дохода) составляет доход Авторов, который распределяется следующим образом: 440 / 18 курсов = 24,4 $ составляет вознаграждение за один курс.. У Автора купили один Курс - Автор получает Вознаграждение 24,4 $ . У Автора купили 2 курса  - Автор получает Вознаграждение 48,8 $ . У Автора купили 3 курса  - Автор получает Вознаграждение 73,2 $  и т.д.
                </p>
                <p>Если Платформа изменяет условия Вознаграждения Автора, мы направим вам уведомление по электронной почте и опубликуем его в описании Услуг за тридцать (30) дней до введения изменения.
                </p>
                <p>Для получения от Платформы Вознаграждения Автора  вам необходимо:
                </p>
                <ul>
                	<li>иметь действительную учетную запись PayPal и сообщить Платформе связанный с ней действительный адрес электронной почты;</li>
                	<li>либо действительную  карту <a href="https://share.payoneer.com/nav/usChweyX2hLhb0fzXi2Lqz-AOJSinh4Jmd5IxXxTCttTu1d6PRgpm0xfv8RPMqKewGfPxmFw2G4LosO9GTLFlw2">Payoneer</a>, регистрация для получения карты по ссылке; либо другие карты, на которые возможен перевод.</li>
                	<li>либо банковский счет в долларах США, оплата  банковской комиссии 40 долларов США за перевод осуществляется  автором.</li>
                </ul>
                <p><strong>Сроки выплаты.</strong>
                </p>
                <p>Стандартные условия:
                </p>
                <p>выплата Вознаграждения производится в течение тридцати (30) дней после окончания рабочего месяца, в котором была получена оплата за Курс.
                </p>
                <p>Экспресс платеж:
                </p>
                <p>85% от суммы Вознаграждения  выплачивается на следующий день после окончания текущего месяца
                </p>
                <p>15%   от суммы Вознаграждения служат гарантийным депозитом на случай требований возвратов от клиентов, в течение тридцати (30) дней после окончания рабочего месяца, в котором была получена оплата за Курс.
                </p>
                <p>В случае выбора Автором варианта Экспресс платеж, Платформа берет дополнительный сбор в размере 2% от общей суммы к выплате.
                </p>
                <p>Вы несете ответственность за предоставление Платформе всех личных данных, необходимых для выплаты причитающихся сумм.
                </p>
                <p>Как Автор, вы несете ответственность за определение того, соответствуете ли вы требованиям для получения средств от американской компании.
                </p>
                <h2>6. Предварительная продажа </h2>
                <p>В случае, если количество Курсов, проданных Автором на Платформе достигает 100, для Автора открывается возможность предварительной продажи Курсов.
                </p>
                <p>В случае, если Автор:
                </p>
                <ul>
                	<li>не поставит курс в течение 120 дней с момента начала предварительной продажи,</li>
                	<li>либо рейтинг курсов будет ниже 3,5 (из 5),</li>
                	<li>либо процент возвратов клиентами превысит 30% от объема продаж,</li>
                </ul>
                <p>Автор выплачивает штраф, равный двойному объему продажи курсов.
                </p>
                <h2>7. Доверие и безопасность </h2>
                <p>Соглашаясь с данными Условиями для Авторов, вы также соглашаетесь соблюдать Правила доверия и безопасности, изложенные в Разделе “Правила доверия и безопасности”, а также придерживаться списка ограниченных тем, указанных в Разделе “Запрещенные темы для курсов” . Просьба периодически перечитывать их, поскольку по необходимости в Правила и список ограниченных тем будут вноситься изменения. Платформа сохраняет за собой право удалять на свое усмотрение Курсы и Авторов; указанная процедура описана в документе Условия использования.
                </p>
                <h2>8. Субъекты ограничений, с которыми нам запрещено вести деятельность</h2>
                <p>Настоящим вы гарантируете, что вы не являетесь Субъектом ограничений ("Субъект ограничений"). В контексте Условий для Авторов вы считаетесь Субъектом ограничений, если вы или любое должностное лицо, руководитель или держатель контрольного пакета акций юридического лица, от имени которого вы пользуетесь Услугами,
                </p>
                <ul>
                	<li>являетесь гражданином или юридическим лицом, действующим в соответствии с законодательством Кубы, Ирана, Судана, Сирии или любой другой страны, с которой гражданам США запрещается вести сделки, как это в тот или иной момент определяется Управлением казначейства США; </li>
                	<li>определены Управлением казначейства США как гражданин особой категории или учреждение, вызывающее наибольшее подозрение в отмывании денег; </li>
                	<li>числитесь в Списке запрещенных физических лиц или юридических лиц Министерства торговли США; </li>
                	<li>участвовали в деятельности, связанной с ядерным, ракетным, химическим или биологическим оружием, в которой лицам США запрещено участвовать без соответствующей лицензии государственных органов США; </li>
                	<li>находитесь во владении, под контролем или действуете от лица Субъекта ограничений. Если во время срока действия данных Условий для Авторов вы стали Субъектом ограничений, вы обязаны уведомить об этом Платформе в течение двадцати четырех (24) часов. В таком случае, Платформа имеет право немедленно отказаться от своих обязательств перед вами без дальнейшей ответственности, а обязательства перед Платформой, не выполненные вами, сохраняются.</li>
                </ul>
                <p>Вы соглашаетесь не использовать Услуги для проведения или содействия проведению сделок с Субъектом ограничений, за исключением случаев, когда на это заранее получено письменное разрешение государственных органов США в явной форме. Запрещается вывозить или экспортировать либо допускать экспорт или реэкспорт из Соединенных Штатов услуг или их прямых производных, в том числе технических данных, в нарушение любых ограничений, законов и нормативных требований Соединенных Штатов и иных стран.
                </p>
                <h2>9. Политика ценообразования. </h2>
                <p>Как Автор, вы несете ответственность за определение Базовой цены, оплачиваемой слушателями за ваш(-и) Курс(-ы), согласно настоящей Политике ценообразования.
                </p>
                <p>Платформа осуществляет все взаиморасчеты в долларах США.
                </p>
                <p>Стоимость Курса Автора может зависеть от:
                </p>
                <ul>
                	<li>тематики Курса, </li>
                	<li>качества и эксклюзивности представленной в Курсе Автора информации, продолжительности Курса, </li>
                	<li>наличия «живого» (онлайн) общения Автором с Студентами </li>
                </ul>
                <p>           и еще ряда индивидуальных свойств и качеств.
                </p>
                <p>Платформа рекомендует формировать 3 ценовых пакета, возможные для оплаты Студентом Стоимости Курса .<br>
                </p>
                <ul>
                	<li>Пакет “Базовый”.</li>
                	<li>Пакет “Оптимальный”. В Оптимальный пакет включены дополнительные содержание и/или услуги  на усмотрение Автора.</li>
                	<li>Пакет “Персональный”. В Персональный пакет включены дополнительные содержание и/или услуги на усмотрение Автора.</li>
                </ul>
                <h2>10. Правила проведения промоакций </h2>
                <p>С целью увеличения объема продаж и стимулирования спроса на Курсы, мы разработали следующие правила проведения Промоакций (далее – Акции). Все Авторы, разместив свои Курсы на Платформе, соглашаются с тем, что Платформа имеет право предоставлять Студентам следующие скидки на Курсы Автора без дополнительного согласования с Автором.
                </p>
                <p>Максимальная обычная скидка при проведении Акций составляет 60% от опубликованной Стоимости Базового пакета.
                </p>
                <p><strong>Пример.</strong>
                </p>
                <p>Стоимость Базового пакета составляет 99 долларов США.
                </p>
                <p>Стоимость Базового пакета со скидкой 60% составляет 39 долларов США.
                </p>
                <p>Стоимость Оптимального пакета составляет 199 долларов США.
                </p>
                <p>Стоимость Оптимального пакета со скидкой 60% составляет 139 долларов США.
                </p>
                <p>Стоимость Оптимального пакета составляет 299 долларов США.
                </p>
                <p>Стоимость Оптимального пакета со скидкой 60% составляет 239 долларов США.
                </p>
                <p><strong>Акция “1+1”</strong>: Время проведения Акции объявляется Платформой через емейл рассылку. При покупке одного Курса, Студент получает бесплатный доступ еще к одному Курсу на свой выбор. Распределение Вознаграждения между Авторами разных Курсов описано в Разделе 5 “Оплата Вознаграждения Автора”.
                </p>
                <p>Исключительная скидка 90% применяется для проведения следующих Акций:
                </p>
                <p><strong>“Черная пятниц</strong><strong>а</strong>”  - один день в году с 00:00 часов до 23:59 часов, дата объявляется через емейл рассылку. Студент имеет возможность  купить любое количество Курсов на свой выбор со скидкой 90%.
                </p>
                <p><strong>“День Рождения Студента”</strong> - Студент имеет возможность в свой День рождения купить один любой Курс на свой выбор с индивидуальной  скидкой 90%.
                </p>
                <p>Автор дает право Платформе регистрировать на Курс бесплатно 2% Студентов в обмен на маркетинговое продвижение и авторов.
                </p>
                <p>При участии Курса Автора в Акциях Вознаграждение (доход) Автора будет уменьшаться в соответствии с условиями соответствующих Акций.
                </p>
                <p>Вы можете увеличить объем продаж путем продвижения вашего Курса, используя промокод, сгенерированный Платформой.
                </p>
                <p>Все Авторы имеют возможность отслеживать все продажи Курсов Автора и, соответственно размер Вознаграждения (дохода) Автора в отчетах в личном кабинете Автора.
                </p>
                <p>Вы выражаете согласие взимать оплату только за собственные Предоставленные материалы (или контент третьих лиц, которым вы пользуетесь на законных основаниях).
                </p>
                <p>Сотрудники Платформы всегда готовы оказать любую информационную и консультационную помощь Авторам для определения Стоимости Курса Автора.
                </p>
                <p>Стоимость Курса Автора устанавливается Автором самостоятельно, путем заполнения на Платформе параметров соответствующего Курса в Личном кабинете Автора и подтверждается Платформой в процессе модерации.
                </p>
                <p>Платформа берет на себя выставление счетов и прочее взаимодействие со Студентами, связанное с оплатами и любыми финансовыми вопросами.
                </p>
                <p>В рамках нашего сотрудничества вы разрешаете нам передавать ваш Курс (доступ к вашему Курсу), а также информацию о вас и вашем Курсе сотрудникам Платформы и третьим лицам, задействованным в процессе предоставления услуг Студентам Платформы и/или в целях продвижения Курса Автора, и/или Платформы, за что вы не получите компенсации.
                </p>
                <p>Платформа сохраняет за собой право изменять Политику ценообразования и  порядка проведения промоакций в любое время.
                </p>
                <p>Варианты ценообразования и промоакций, не предусмотренные данными условиями, требуют заключения индивидуального договора между Платформой и Автором.
                </p>
                <h2>11. Авторское право </h2>
                <p>Авторское Право на Курсы и образовательные продукты, предоставленные Автором  (далее Предоставленные материалы), принадлежит Автору.
                </p>
                <p>Настоящим вы предоставляете Платформе неэксклюзивные ограниченные права и лицензию на производство, распространение, публичное воспроизведение, предложение, маркетинг, на мониторинг и борьбу с нарушением авторских прав,  быть истцом в суде по делам о нарушении авторских прав, а также любое другое использование Предоставленных материалов через/на Платформе.
                </p>
                <p><strong>Лицензирование. </strong>
                </p>
                <p>Платформа может лицензировать создание Курсов на других языках на основании Курса(ов), созданного(ых) автором. В этом случае ройялти Автора будет составлять 25% от общего объема продаж Курсов на других языках.
                </p>
                <p>Также платформа может трансформировать Курс(ы) автора в аудиокнигу, электронную книгу, бумажную книгу. Это бесплатно для автора, а его ройялти   составляет 50% от суммы, полученной Платформой.
                </p>
                <p>Настоящим вы даете разрешение Платформе использовать ваше имя, изображение или голос в связи с продвижением, маркетингом, рекламой, демонстрацией и продажей Курсов, Содержимого компании и Предоставленных материалов и отказываетесь от всех прав на конфиденциальность, публичное использование и всех других подобных относящихся к ним прав в той степени, в которой это предусмотрено действующим законодательством.
                </p>
                <h2>12. Возвраты</h2>
                <p>Действуя в качестве Автора, вы подтверждаете и соглашаетесь, что слушатели имеют право получать возврат оплаты  как изложено в разделе 10 <a href="https://heartbeat.education/p/terms-users">Условий для пользователя </a>Платформы. Ни Авторы, ни Платформа не получают никаких платежей, оплаты или комиссии за любые операции, в отношении которых был предоставлен возврат оплаты в соответствии с разделом 10 Условий использования.
                </p>
                <p>В случае если Студент запросил возврат оплаты за Курс после того, как Платформа направила Автору оплату за него, Платформа оставляет за собой право либо (1) вычесть оплату суммы такого возврата из следующего платежа соответствующему Автору, либо (2) потребовать от Автора возместить сумму возврата оплаты Слушателям за курс Автора в том случае, если Платформа не должна Автору никакой дополнительной оплаты, или если такой оплаты, причитающейся Автору, недостаточно для покрытия суммы возврата оплаты Слушателям.<br>
                </p>
                <p>Платформа предоставляет Студентам гарантию возврата оплаты за купленные образовательные программы в течение 30 дней от даты оплаты, при соблюдении следующих условий:
                </p>
                <ul>
                	<li>Студент завершил образовательную программу, </li>
                	<li>выполнил все домашние задания (если есть), </li>
                	<li>сдал экзамен (если есть), </li>
                	<li>и не получил никакой ценности. </li>
                </ul>
                <p>В течение 24 часов с момента получения заявки на возврат от студента Платформа проверяет заявку на соблюдения условий и передает ее Автору. В случае, если Автору и Студенту не удается за последующие 48 часов найти альтернативного решения, Платформа в течение 1 рабочего дня осуществляет возврат оплаты Студенту.
                </p>
                <p>Для следующих обучающих программ действуют отдельные условия гарантии возврата:
                </p>
                <ul>
                	<li>коучинг, консультации, репетиторство (далее консультации). Студент может получить возврат оплаты только в том случае, если консультация продлилась менее 15 минут;</li>
                	<li>программы обучения, купленные на условиях ежемесячной или ежегодной подписки: Студент может оформить заявку на возврат оплаты в течение 14 дней с момента начала подписки;</li>
                	<li>программы обучения, включающие не менее 3 вебинаров: Студент может оформить заявку на возврат оплаты не позднее даты проведения второго вебинара.</li>
                </ul>
                <div><br>
                </div>
                <h2>13. Налоги </h2>
                <p>Вы понимаете и соглашаетесь, что несете ответственность за оплату любых налогов на ваш доход, за соблюдение требований соответствующих налоговых органов (которые могут отличаться от налогового органа в месте вашего нахождения), имеющих отношение к налогу с продаж на ваши Курсы. Платформа не имеет возможности консультировать вас по вопросам налогообложения. Вам следует проконсультироваться с собственным налоговым консультантом. Налоги оплачиваются в той стране, резидентами которой Авторы являются.
                </p>
                <h2>14. Сертификаты о прохождении Курса </h2>
                <p>Курс Автора предусматривает автоматическую  выдачу Студентам сертификата о прохождении Курса «Успешно завершил курс». Сертификат автоматически генерируется в электронном виде в личном кабинете всех Студентов, которые успешно прошли Курс и набрали больше 75% от максимального количества баллов . При создании Курса Автор в параметрах Курса на Платформе присваивает определенное количество баллов каждому виду активностей, содержащихся в Курсе Автора.
                </p>
                <p>Автор настоящим подтверждает свое согласие на то, что в указанных сертификатах будет указываться его имя и фамилия (псевдоним) и подпись.
                </p>
                <h2>15. Изменение настоящих Условий для Авторов</h2>
                <p>Время от времени мы можем обновлять эти Условия для Авторов для уточнения наших методов, отражения новых или иных методов, например, при добавлении новых функций, и Платформа оставляет за собой право изменять и/или вносить изменения в настоящие Условия для Авторов в любой момент. Если мы сделаем какие-либо существенные изменения, мы сообщим вам уведомлением по электронной почте, направленным на адрес электронной почты, указанный в вашей учетной записи. Другие изменения вступят в силу в день их публикации, если не указано иное. Если вы продолжаете пользоваться Услугами после даты вступления в силу каких-либо изменений, то такой доступ и/или использование будет считаться согласием с использованием и соблюдением измененных Условий для Авторов. Измененные Условия для Авторов заменяют все предыдущие Условия для Авторов.
                </p>
                <h2>16. Конфиденциальность </h2>
                <p>Платформа и Автор (далее “Стороны”) берут на себя обязательства по соблюдению конфиденциальности полученной документации и информации в рамках настоящего Соглашения. Стороны предпримут все необходимые меры для того, чтобы предотвратить полное или частичное разглашение указанных сведений или ознакомление с ними третьих лиц без предварительной взаимной договоренности.
                </p>
                <p>С переданной документацией и информацией могут быть ознакомлены только те лица из персонала Сторон или уполномоченные ими лица, которые непосредственно связаны с выполнением обязательств по настоящему Договору.
                </p>
                <p>В случае нарушения Сторонами условий конфиденциальности, в результате чего одной из Сторон был причинен имущественный и/или ущерб деловой репутации, виновная Сторона обязуется возместить документально подтвержденный причиненный ущерб.
                </p>
                <h2>17. Решение спорных вопросов </h2>
                <p>Споры и/или разногласия, связанные с настоящим Соглашением, его заключением, либо возникающие в процессе исполнения условий настоящего Соглашения, разрешаются путем переговоров между Автором и представителями Платформы на основе действующего законодательства США.
                </p>
                <p>Все претензии Сторон должны быть оформлены в письменном виде и подписаны уполномоченными лицами.
                </p>
                <p>Сторона, получившая претензию, обязана предоставить другой Стороне мотивированный ответ в течение 10 (Десяти) рабочих дней со дня получения претензии.
                </p>
                <p>Если спор невозможно урегулировать путем переговоров, то он разрешается в судебном порядке согласно установленной подведомственности и подсудности такого спора в порядке, определенном соответствующим действующим законодательством США.
                </p>
                <h2>18. Соглашение о решении в арбитражном порядке и об отказе от коллективного иска</h2>
                <p>Прежде чем возбудить формальный судебный иск, просим сначала связаться с нашей службой поддержки по адресу service@heartbeat.education или  <a href="https://www.messenger.com/t/heartbeat.edu">https://www.messenger.com/t/heartbeat.edu</a>.
                </p>
                <p>Большинство споров может быть решено в этом порядке.
                </p>
                <p>Обе стороны согласны решать споры в арбитражном порядке. Если мы не можем решить наш спор мирным путем, вы и Платформа  соглашаетесь решать любые иски, касающиеся данных Условий или любого из наших других условий, периодических объявляемых на нашем Сайте, через окончательный и обязательный арбитраж. Это относится ко всем видам исков в соответствии с любой правовой теорией.
                </p>
                <p>Любой из нас может возбудить иск в суде по мелким тяжбам либо в Майами, Флорида, либо в округе, где вы проживаете, или в другом месте, о котором мы договоримся, если оно может быть возбуждено в суде этой местности.
                </p>
                <p>Кроме того, если вы или Платформа  возбуждаете в суде иск, который должен быть решен в арбитражном порядке, или любой из нас отказывается решать в арбитражном порядке иск, который должен быть решен в арбитражном порядке, другой из нас может попросить, чтобы суд вынудил нас обратиться в арбитраж за решением иска (т. е. принудить к арбитражу). Платформа  может также попросить, чтобы суд приостановил судебные процедуры, пока ведется арбитражное разбирательство.
                </p>
                <p><strong>Недопустимость коллективных исков. </strong>Мы все соглашаемся, что можем принести иск только друг против друга на индивидуальной основе. Это означает:
                </p>
                <ul>
                	<li>ни вы, ни Платформа  не могут принести иск как истец или участник класса в коллективном иске, объединенном иске или групповом иске;</li>
                	<li>арбитр не может объединить иск более чем одного лица в единственное дело и не может возглавлять любое объединенное, коллективное или групповое арбитражное разбирательство (если мы не согласимся изменить это);</li>
                	<li>решение арбитра или присужденная сумма в случае одного лица может касаться только лица, которое принесло иск, а не других Пользователей, и не может использоваться, чтобы решить другие споры с другими Пользователями.</li>
                </ul>
                <p>Если суд решит, что этот подраздел на «Недопустимость коллективных исков» не имеет силы или недействителен, то весь Раздел 18 (Соглашение о решении арбитражном порядке и об отказе от коллективного иска) будет не иметь силы, но остальная часть Условий останется в силе.
                </p>
                <p><strong>Арбитражный процесс.</strong> Любые споры между вами и Платформой , касающиеся Услуг, которые влекут иск на сумму менее 10 000 долларов США, должны решаться исключительно в арбитраже без обязательного присутствия. Сторона, выбравшая арбитраж, должна возбудить дело, зарегистрировав арбитражное требование в Американской арбитражной ассоциации (AAA). Арбитражные разбирательства должны регулироваться Правилами коммерческого арбитража AAA, Протоколом потребительского процесса и Дополнительными процедурами для решения связанных с потребителями споров. Кроме того, Вы и Платформа  соглашаетесь, что следующие правила будут применяться к арбитражным разбирательствам:
                </p>
                <ul>
                	<li>арбитраж будет проводиться, по усмотрению стороны, обратившейся за защитой прав, по телефону, в онлайн-режиме или базироваться исключительно на письменных документах;</li>
                	<li>арбитраж не будет требовать личного появления сторон или свидетелей, если иное не будет взаимно согласовано сторонами; и</li>
                	<li>любое суждение по решению, вынесенному арбитром, может быть внесено в любой компетентный суд.</li>
                </ul>
                <p>Любые споры между вами и Платформой  по Услугам, которые касаются иска на сумму менее 10 000 долларов США, должны решаться в соответствии с правилами AAA относительно того, должно ли арбитражное рассмотрение требовать личного присутствия.
                </p>
                <p>Юрисдикция для правовых споров не подлежащих арбитражу. Если Соглашение о решении споров в арбитражном порядке признано недействительным или не имеющим законной силы, или какие-либо споры не приемлемы для арбитража, спор будет в исключительной юрисдикции Федеральных судов и судов штатов, расположенных в Майами, штат Флорида. Настоящим вы соглашаетесь подчиняться персональной и исключительной юрисдикции таких судов в случае судебного разбирательства.
                </p>
                <p><strong>Изменения. </strong>Несмотря на положения, связанные с положениями об изменениях, в случае изменения компанией Платформа  раздела "Соглашение о решении в арбитражном порядке и об отказе от коллективного иска" после принятия вами данных Условий (или любых последующих изменений Условий), вы можете отклонить любые подобные изменения, отправив  письменное уведомление об отклонении по адресу: 2220 Walnut St #600, Philadelphia, PA 19103, США
                </p>
                <p>или в электронном сообщении, отправленном с адреса электронной почты, привязанного к вашей Учетной записи, по адресу service@heartbeat.education или https://www.messenger.com/t/heartbeat.edu, в течение 30 дней с даты вступления данных изменений в силу, которая указывается в строке "последнее обновление" выше.
                </p>
                <p>В уведомлении должно быть указано ваше полное имя и четко выражено ваше намерение отклонить изменения в разделе "Соглашение о решении в арбитражном порядке и об отказе от коллективного иска".
                </p>
                <p>Отклоняя изменения, вы выражаете свое согласие на то, что любые споры между вами и компанией Платформа  будут решаться в соответствии с положениями раздела "Соглашение о решении в арбитражном порядке и об отказе от коллективного иска", действительными на момент принятия вами данных Условий (или любых последующих изменений Условий).
                </p>
                <h2>19. Обстоятельства непреодолимой силы </h2>
                <p>Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Соглашению, вызванное обстоятельствами непреодолимой силы, возникшими после его заключения. Такими обстоятельствами являются: стихийные бедствия; природные и промышленные катастрофы; террористические акты; военные действия; гражданские беспорядки; принятие органами государственной власти или органами местного самоуправления актов, содержащих запреты или ограничения в отношении деятельности Сторон по настоящему Соглашению; иные обстоятельства, которые не могут быть заранее предвидены или предотвращены Сторонами и делают невозможным исполнение обязательств Сторон по настоящему Соглашению.
                </p>
                <p>Сторона, желающая быть освобожденной от ответственности в силу наступления обстоятельств непреодолимой силы, незамедлительно, не позднее 3 (Трех) рабочих дней извещает о таких обстоятельствах другую Сторону. Несвоевременное уведомление о наступлении обстоятельств непреодолимой силы лишает Сторону права на освобождение от ответственности.
                </p>
                <p>При наступлении обстоятельств непреодолимой силы, препятствующих исполнению обязательств по настоящему Соглашению, срок выполнения Сторонами таких обязательств переносится соразмерно времени действия таких обстоятельств, а также времени, требуемого для устранения их последствий, но не более чем на 60 (Шестьдесят) календарных дней. В случае, если обстоятельства непреодолимой силы продолжают действовать более указанного срока либо когда при их наступлении обеим Сторонам становится очевидным, что они будут действовать более этого срока, Стороны обязуются обсудить возможности альтернативных способов исполнения настоящего Договора или его прекращения без возмещения убытков.
                </p>
                <h2>*Запрещенные темы для Курсов</h2>
                <p>Платформа Heartbeat Education не содействует созданию и не продвигает оскорбительные для наших Студентов или несовместимые с ценностями и духом нашей Платформы курсы и обучающие программы.
                </p>
                <p>Содержание курса не может содержать следующие элементы:
                </p>
                <ul>
                	<li>Насилие</li>
                	<li>Риторика ненависти </li>
                	<li>Поощрение противозаконного поведения</li>
                	<li>Преднамеренное введение в заблуждение, обман, унижение или ущерб любой стороне</li>
                	<li>Оскорбления или другое неприемлемое поведение</li>
                </ul>
                <p>Такие курсы не могут быть защищены авторским правом / зарегистрированной торговой маркой другой стороны или лицензировано через PLR (Private Label Rights, которые являются курсами, которые вы купили у кого-то другого)
                </p>
                <p>Мы оставляем за собой право добавлять /изменять этот список. Если вы обнаружили курс(ы), которые, как вы считаете, не должны находиться на Платформе, напишите по адресу service@heartbeat.education.
                </p>
                			</article>
                		</div>
                	</div>
                </section>
              </div>
            </div>

            <!-- BEGIN HEADER -->
            <header>

                <div class="container">
                    <div class="dfc aic">
                        <div class="col-xs-10 col-sm-5 col-sm-offset-1 col-md-offset-0 col-md-4 col-lg-3">
                            <div class="logo-holder">

                                <a class='logo-link'
                                   href='https://heartbeat.education?sa=eyJ1c2VyX2lkIjoxMzY3Njc4MCwiZXhwaXJlc19hdCI6MTU0Njk1NDE3Ni42ODMxMTQ1LCJzY2hvb2xfaWQiOjEyNzYyNSwiYXV0aGVudGljYXRpb25fdG9rZW4iOiJoQXJ2UDh6NHNvdmZtbU1RQnhHV3pjMjNWZE0xTm01RWd3In0%3D--d8e3c740b86a8988720c5be0daa8bc9b55de74f8'>

                                    <div class="logo-large">
                                        <i class="logo_headicon icon-Logo-Znak"></i>
                                        <p class="logo-text"><b>HeartBeat</b><br> education</p>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-5 col-md-8 col-lg-9 poss">
                            <div class="hmenu-holder">
                                <div class="hmenu_mbutton js-mbtn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="hmenu-hider js-hmenu-hidde">
                                    <div class="hmenu_list dfc" style="justify-content: flex-end;">
                                        <a class="package_btn land_btn js-gotohref" href="#" data-href="/login"
                                           style="margin-top:0;margin-right:8px;">Вход</a>
                                        <button class="package_btn land_btn js-ancor" data-target="#block-10673356"
                                                style="margin-top:0;">Регистрация
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </header>

            <!-- HEADER EOF  -->
            <footer id="footer">
                <div class="container ta-center">
                    <div class="footer">
                        <div class="footer_logo">
                            <i class="icon-Logo-Znak"></i>
                        </div>
                        <ul class="footer_links">


                            <li class="footer_item">
                                <a href='/p/about-us' target='' class="footer_link">
                                    О нас
                                </a>
                            </li>

                            <li class="footer_item">
                                <a href='/p/authors' target='' class="footer_link">
                                    Стать автором
                                </a>
                            </li>


                        </ul>
                        <ul class="footer_links footer_links-light">
                            <li class="footer_item">
                                <a href="//heartbeat.education/p/terms" target="_blank" class="footer_link footer_link-light">Условия использования</a>
                            </li>
                            <li class="footer_item">
                                <a href="//heartbeat.education/p/privacy" target="_blank" class="footer_link footer_link-light">Политика
                                    конфиденциальности</a>
                            </li>
                            <li class="footer_item">
                                <a href="//heartbeat.education/p/intellectual" target="_blank" class="footer_link footer_link-light">Интеллектуальная
                                    собственность</a>
                            </li>
                        </ul>
                        <p class="footer_link footer_link-light">&copy;</p>
                    </div>
					<div class="col-xs-12">
						<ul class="slnks">
							<li class="itm"><a class="js-gotohref icon-fk" data-target="_blank" href="#" data-href="https://www.facebook.com/heartbeat.edu"></a></li>
							<li class="itm"><a class="js-gotohref icon-yt" data-target="_blank" href="#" data-href="https://www.youtube.com/channel/UCsEHGy4QTBIM5DKHDmlJCQw"></a></li>
							<li class="itm"><a class="js-gotohref icon-vk" data-target="_blank" href="#" data-href="https://vk.com/heartbeat_education"></a></li>
							<li class="itm"><a class="js-gotohref icon-oi" data-target="_blank" href="#" data-href="https://ok.ru/group/53774037745820"></a></li>
							<li class="itm"><a class="js-gotohref icon-ig" data-target="_blank" href="#" data-href="https://www.instagram.com/heartbeat.education/"></a></li>
							<li class="itm"><a class="js-gotohref icon-ln" data-target="_blank" href="#" data-href="https://www.linkedin.com/company/heartbeateducation"></a></li>
							<li class="itm"><a class="js-gotohref icon-tr" data-target="_blank" href="#" data-href="https://twitter.com/Heartbeat_EDU"></a></li>
							<li class="itm"><a class="js-gotohref icon-pt" data-target="_blank" href="#" data-href="https://www.pinterest.com/heartbeat_education/"></a></li>
							<li class="itm"><a class="js-gotohref icon-tg" data-target="_blank" href="#" data-href="https://t.me/heartbeat_education"></a></li>
						</ul>
					</div>
                </div>
            </footer>
        </div>
        <script src='https://www.google.com/recaptcha/api.js' async defer></script>
        <style>
            .hmenu_list.cust .hmenu_link {
                font-size: larger;
            }

            .hmenu_item {
                position: relative
            }

            .hmenu_item .submenu {
                display: none;
                height: 0;
                transition: all ease .3s;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                float: left;
                min-width: 160px;
                padding: 5px 0;
                margin: 2px 0 0;
                font-size: 14px;
                text-align: left;
                list-style: none;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ccc;
                border: 1px solid rgba(0, 0, 0, .15);
                border-radius: 4px;
                box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            }

            .hmenu_item .submenu li a {
                color: #000;
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                color: #333;
                white-space: nowrap;
            }

            .hmenu_item .submenu li a:hover {
                text-decoration: none;
                background-color: #f5f5f5;
            }

            .hmenu_item:hover .submenu {
                display: block;
                height: auto;
                transition: all ease .3s;
            }

            @media screen and (min-width: 992px) {
                .hmenu_list.cust {
                    padding-right: 30px;
                }
            }

            form .package_btn {
                margin: 30px auto;
            }
			form label{
				width: 100%;
			}
			.d-block {
				display: block;
			}
			.invalid-feedback {
				border: 1px solid red;
				padding: 2px 5px;
				background: #ffc8c8;
				width: 100%;
			}
			form input.is-invalid {
				border: 1px solid red;
			}
        </style>

        <!--EOF layouts/partials/footer-->

    </main>
</div>

<div class="icon-load"></div>
<script>
    function onloadF() {
        document.body.style.display = 'inline-block';
        document.body.offsetHeight; // no need to store this anywhere, the reference is enough
        document.body.style.display = '';
        document.body.classList.remove('loaded');
        /*if(typeof header!=='undefined'&&header.length){
				document.body.style.paddingTop=header.clientHeight+'px';
			} else {
				document.body.style.paddingTop=document.body.querySelector('header').clientHeight+'px';
			}*/
    };
    setTimeout(onloadF, 500);

    window.addEventListener('load', function () {
        $(document).on('click', '.js-regModal', function (event) {
            event.preventDefault();
            // записываем id цели из аттрибута href
            var href = '#registerModal',
                type = this.dataset.type,
                btn = $(this);
            if (typeof initialModalId === 'undefined') {
                initialModalId = href;
                // modalId=href;
            }
            // закрываем любую открытую модалку
            $.magnificPopup.close();
            // открываем новую
            $.magnificPopup.open({
                // type: 'inline',
                items: {
                    src: href, // can be a HTML string, jQuery object, or CSS selector
                    type: 'inline'
                },
                callbacks: {
                    open: function () {
                        this.content[0].querySelector('[name="hb_author_signup[packetPlain]"]').value = type;
                    },
                },
                preloader: false,
                // fixedContentPos: false,
                mainClass: 'funnel_popup',
                closeOnBgClick: true,
            });
        });

        $(document).on('submit', '[name=hb_author_signup]', function (event) {
            event.preventDefault();

            var form = $(this),
				formData = form.serialize(),
				trackParams = {
					Email: form.find('#hb_author_signup_email').val(),
					Phone: form.find('#hb_author_signup_phone').val()
				};

            $.ajax({
                type: "POST",
                url: '{{ path('hb.author.sign_up') }}',
                data: formData,
                dataType: "json",
                success: function () {
					if(typeof analytics!=='undefined'&&typeof trackParams!=='undefined'){
						analytics.track('Регистрация в админпанель', trackParams);
						setTimeout(function(){
							document.location = '{{ path('hb.courses.list') }}';
						}, 500)
					} else {
						document.location = '{{ path('hb.courses.list') }}';
					}
                },
                error: function (response) {
                    $('div.sign_up_div').html(response.responseText);
                }
            });

            return false;
        });


    })

</script>
</body>
</html>
<!--EOF layouts/application-->
